@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Hanken;
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

main {
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    align-items: center;
    justify-content: space-between;
    max-width: 70%;
    min-width: 70%;
    font-family: Hanken;
    font-size: 18px;
}

#principal {
    display: inline-block;
    max-width: 375px;
    min-width: 375px;
    text-align: center;
    background-image: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    border-radius: 20px;
    padding: 30px 10px 30px 10px;
}

#valores {
    display: inline-block;
    max-width: 375px;
    min-width: 375px;
    padding: 30px 10px 30px 10px;
}

#number {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 80px;
    padding-left: -10px;
    padding-right: -10px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.315));
    border-radius: 800px;
}

#grande {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: -45px;
}

#of {
    color: rgba(255, 255, 255, 0.438);
}

#principal > h1, h2, h3, p {
    padding: 20px;
    color: hsl(0, 0%, 100%);
}

#valores > h3 {
    padding: 20px;
    color: hsl(224, 30%, 27%);
}

#valores > table, td, tr {
    padding: 10px;
    margin: 10px;
}

#valores > button {
    display: inline;
    margin-left: 20px;
    padding: 12px 80px 12px 80px;
    border: none;
    border-radius: 22px;
    background-color: hsl(224, 30%, 27%);
    font-family: Hanken;
    font-size: 16px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}