@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

header > h1 {
    font-family: "Passion One", sans-serif;
    font-size: 2.5em;
}

.par {
    margin-top: 50px;
    width: 40%;
    font-weight: bold;
    color: black;
    padding: 10px;
    margin-left: 40px;
}

.par > p {
    font-family: "Sriracha", cursive;
}

.impar {
    width: 40%;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.226);
    padding: 10px;
    margin-left: 40px;
}

.impar > p {
    font-family: "Saricha", cursive;
}

.imagem {
    background-image: url(imagens/background001-500.jpg);
    height: 500px;
    width: 500px;
    margin: auto;
    padding-top: 40px;
    border: solid black 1px;
}

.fundo {
    background-color: white;
    height: 500px;
    width: 500px;
    margin: auto;
    padding-top: 40px;
    border: solid black 1px;
}

