@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right,rgb(55, 0, 128), rgb(175, 19, 223));
    color: white;
}

main {
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: rgb(255, 0, 170);
    background-color: rgba(0, 0, 0, 0.226);
    border-radius: 5px;
}

p {
    text-align: justify;
}

#principal {
    color: rgb(195, 0, 255);
    text-align: center;
}

.basico {
    color: rgb(12, 167, 133);
}

.intermediario {
    color: rgb(178, 201, 47);
}

.avancado {
    color: rgb(196, 57, 69);
}